<div class="container is-fluid">
	<table class="table is-bordered is-striped">
		<tr>
			<td>Full Name</td>
			<td><%= @user.full_name %> </td>
		</tr>
		<tr>
			<td>Email</td>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<td>Phone</td>
			<td><%= @user.phone %></td>
		</tr>
		<tr>
			<td>Role</td>
			<td><%= @user.role.name %></td>
		</tr>
	</table>
</div>