<!-- <h2>Log in</h2>

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%#= f.label :password %><br />
    <%#= f.password_field :password, autocomplete: "off" %>
  </div>

  <%# if devise_mapping.rememberable? -%>
    <div class="field">
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
    </div>
  <%# end -%>

  <div class="actions">
    <%#= f.submit "Log in" %>
  </div>
<%# end %>

<%#= render "devise/shared/links" %>

 -->

<div class="login-page">
  <div class="login-wrapper columns">
    <div class="column is-8 is-hidden-mobile hero-banner">
      <section class="hero is-fullheight">
        <div class="hero-body">
        </div>
      </section>  
    </div>
    <div class="column is-4">
      <section class="hero is-fullheight">
        <div class="hero-heading">
          <div class="section has-text-centered">
            <img src="/images/l2s2.jpg" alt="Bulma logo" width="150px">
          </div>
        </div>
        <div class="hero-body">
          <div class="container">
            <div class="columns">
              <div class="column is-8 is-offset-2">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="login-form">
                  <p class="control has-icon has-icon-right">
                    <%= f.email_field :email, autofocus: true , class: "input email-input", placeholder: "Enter email" %>
                    <span class="icon user">
                      <i class="fa fa-user"></i>
                    </span>
                  </p>
                  <p class="control has-icon has-icon-right">
                    <%= f.password_field :password, autocomplete: "off", class: "input password-input", placeholder: "Enter Password" %>
                    <span class="icon user">
                      <i class="fa fa-lock"></i>
                    </span>
                  </p>
                  <p class="control login">
                  <div class="actions">
                    <%= f.submit "Login", class: "button is-success is-outlined is-large is-fullwidth" %>
                  </div>
                  </p>
                </div>
               <% end %> 
              </div>
            </div>
          </div>
        </div>
      </section>  
    </div>
  </div>
</div>