<h2>Role Details </h2>

  <% if @roles.empty? %>
     <p> table is empty</p> 
  <% else %>

 <table>
	<thead>
		<tr>
			<td>Sl.no</td>
			<td>Role</td>
		</tr>
	</thead>
	<tbody>
		<% @roles.each_with_index do |role, index| %>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= role.name %></td>
			</tr>
		<% end %>
	</tbody>
 </table>

 <% end %>
