body{
	background-color: #ecf0f5;
  min-height: 100%;
}

html {
   height: 100%;
}

div#error_explanation{
  border: 1px solid #d00000;
  background: #e0dbdb;
  padding: 10px;
  margin-bottom: 20px;
}

div#noticeMsg{
    color: #23d160;
    margin-top: 12px;
}

p.notice{
  color: #118e3d;
}

p.alert{
  margin-top: 20px;
  text-align: center;
  color: #e04c4c;
}

.button.is-danger,
.button.is-info{
  height: 30px;
  font-size: 15px;
}


/* .index-form */

.index-form{
  background: #fff;
  padding: 23px;
  border: 1px solid #bbbbbb;
  margin-bottom: 20px;
}

.index-form input,
.index-form select{
    width: 100%;
    height: 35px;
}

.index-form input.button.is-success {
    height: 36px;
}

.index-form span{
  font-size: 12px;
  color: #d42b2b;
}

/* nav bar */

nav.nav.has-shadow{
	background: #3c8dbc;
}

.nav-item a.is-tab.is-active, a.nav-item.is-tab.is-active {
    border-bottom: 3px solid #4a3131 !important;
    color: #f7f7f7 !important;
}

.nav-item a, a.nav-item {
    color: #d6d6d6 !important;
}

h2.title.is-3{
	font-size: 26px;
    margin: 0px;
    padding: 15px 0px;
    color: #3c8dbc;
}

/* prospects index */

a.button.is-success.is-outlined{
	margin: 15px 0px;
	float: right;
}

.modal-card-body input{
	height: 25px;
	width: 100%;
}

/* front page */

section.front-page{
	padding: 40px 0px;
}

.front-page i.fa.fa-user,
.front-page i.fa.fa-handshake-o,
.front-page i.fa.fa-cubes,
.front-page i.fa.fa-thumbs-o-up{
	font-size: 56px;
	margin: 10px
}

.front-page .first-col span{
	font-size: 40px;
	font-weight: bold;
}

.front-page span#span1{
	float: right;
    font-size: 37px;
    font-weight: bold;
}

.front-page span#span2{
	float: right;
}

.front-page .top-line{
	padding-bottom: 40px;
}

.top-line-1{
	background-color: #347ab8 !important;
}

.top-line-2{
	background-color: #5db85b !important;
}

.top-line-3{
	background-color: #efad4d !important;
}

.top-line-4{
	background-color: #d95350 !important;
}

.front-page .graphs{
	border: 1px solid #d0d0d0;
    background: #ececec;
    padding: 30px;
}

/* page-styling */



.page-styling h2{
  font-size: 20px;
  margin: 15px 0px;
}

.page-styling input{
  width: 100%;
  height: 25px;
}

.page-styling{
  padding: 20px 0px;
  min-height: 550px;
}

.page-styling select{
  height: 25px;
  width: 100%;
}

.page-styling input.button.is-success {
  height: 36px;
}


/* roles */

.roles{
  min-height: 550px;
}



/* login page */


.login-page {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.login-page .email-input,
.login-page .password-input {
  border-radius: 40px;
  font-size: 20px;
  padding-left: 15px;
  color: #95A5A6;
}

.login-page .icon.user,
.login-page .icon.password {
  margin: 5px 10px 0 0;
}

.login-page .avatar img {
  border-radius: 100px;
  padding: 5px;
  border: 1px solid #dbdbdb;
}

.login-page .forgot-password a {
  color: #95A5A6;
  font-weight: bold;
  padding-right: 20px;
}

.login-page .login {
  padding-top: 20px;
}

.login-page .login button {
  border-radius: 40px;
  font-weight: bold;
}

.login-page .hero-body .container {
  margin-top: -100px;
}

.login-page .hero.is-dark .section {
  background-color: transparent;
}

.login-page .login-wrapper {
  margin: -0.75rem;
  overflow-y: hidden;
}

.login-page .hero-banner .hero {
  background: url('/images/bg.jpg');
  background-position: center;
  background-size: cover;
  background-blend-mode: screen;
}

.login-page .hero-banner .title {
  display: inline-block;
  background-color: rgba(0,0,0, 0.6);
  padding: 5px;
}

.login-page .control.has-icon.has-icon-right .input{
	margin-bottom: 10px;
}




/* form-styling */


.form-styling{
  font-family: 'Lato', sans-serif;
  color: white;
  background-color #fff;
}

.form-styling h1 {
  font-size: 60px;
  margin: 0px;
  padding: 0px;
}

.form-styling h3 {
  margin: 0px;
  padding: 0px;
  color: #999;
}



.form-styling div.wrap div {
  position: relative;
  margin: 15px 0;
}

.form-styling label {
  position: absolute;
  top: 0;
  font-size: 16px;
  margin: 10px;
  padding: 0 10px;
  background-color: #fff;
  -webkit-transition: top .2s ease-in-out,  font-size .2s ease-in-out;
  transition: top .2s ease-in-out,  font-size .2s ease-in-out;
  color: #000;
}

.form-styling .active {
  top: -25px;
  font-size: 16px;
}

.form-styling input[type=text] {
  width: 100%;
  padding: 20px;
  border: 1px solid #d6d6d6;
  font-size: 16px;
  background-color: #fff;
  color: #a09999;
}

.form-styling input[type=text]:focus {
  outline: none;
}







