body{
	background-color: #ecf0f5;
}



/* nav bar */

nav.nav.has-shadow{
	background: #3c8dbc;
}

.nav-item a.is-tab.is-active, a.nav-item.is-tab.is-active {
    border-bottom: 3px solid #4a3131 !important;
    color: #f7f7f7 !important;
}

.nav-item a, a.nav-item {
    color: #d6d6d6 !important;
}

h2.title.is-3{
	font-size: 26px;
    margin: 0px;
    padding: 15px 0px;
    color: #3c8dbc;
}


/* prospects index */

a.button.is-success.is-outlined{
	 margin: 15px 0px;
	 float: right;
}

select#prospect_stage_id{
	height: 25px;
	width: 100%;
}

.modal-card-body input{
	 height: 25px;
	  width: 100%;
}